.position{
	position: absolute;
}
#game{
	position: relative;
	margin: 0 auto;
	border: 1px solid #ccc;
}
#levelShape{
	position: relative;
	margin: 0 auto;
}
.block{
	background-image: url(../images/arcanoid_beveled.png);
	transform: scale(0.75, 0.75);
}
.violet{
	background-position: 788px 590px;
}
.orange{
	background-position: 657px 590px;
}
.blue{
	background-position: 512px 590px;
}
.red{
	background-position: 365px 590px;
}
.yellow{
	background-position: 226px 590px;
}
.green{
	background-position: 84px 590px;
}