body {
    background: #000;
    background-image: url(../images/bg.jpg);
}
.position {
    position: absolute;
}

#game {
    position: relative;
    margin: 0 auto;
}

#levelShape {
    position: relative;
    margin: 0 auto;
}

.block {
    width: 64px;
    height: 32px;
}

.purple {
    background-image: url(../images/purple_rect.png);
}

.grey {
    background-image: url(../images/grey_rect.png);
}

.blue {
    background-image: url(../images/blue_rect.png);
}

.red {
    background-image: url(../images/red_rect.png);
}

.yellow {
    background-image: url(../images/yellow_rect.png);
}

.green {
    background-image: url(../images/green_rect.png);
}

.swing {
    background-image: url(../images/swing.png);
}

.Ball {
    background-image: url(../images/ball.png);
}
#TopWall {
    background: url(../images/hbor.png) repeat-x;
}

#LeftWall,
#rightWall {
    background: url(../images/vbor.png) repeat-y;
}

#BottomWall {
    background: url(../images/brod.png) repeat-x;
}

.hidden {
    display: none;
}

.anhillated {
    background-image: none;
    background-color: red !important;
}
#lives{
	position: absolute;
	top: 20px;
	left: 70px;
}
#lives ul{
	display: inline-block;
	margin: 0;
	padding: 0;
}
.heart{
	background: url(../images/heart.png);
	width: 24px;
	height: 24px;
	list-style: none;
	display: inline-block;
	margin: 0 3px;
}
#scoreBoard{
	position: absolute;
	top: 60px;
	left: 65px;
	color: #FFEE00;
	font-weight: bold;
	background-color: #000;
	border: 2px solid #fff;
	padding: 10px 0;
	width: 100px;
	text-align: center;
	font-size: 20px;
}




